<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_30ff1c9da165543176f0bffb6cc73b76 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_30ff1c9da165543176f0bffb6cc73b76" ></div>
        
</body>
<script>
    
    
            var map_30ff1c9da165543176f0bffb6cc73b76 = L.map(
                "map_30ff1c9da165543176f0bffb6cc73b76",
                {
                    center: [0.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_ed184a4ec0ebe972e89122ceae6631a0 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_ed184a4ec0ebe972e89122ceae6631a0.addTo(map_30ff1c9da165543176f0bffb6cc73b76);
        
    
            var feature_group_4b90f1354ae89a64cce82bb72a9e7f9d = L.featureGroup(
                {}
            );
        
    
            var marker_816d410e0bb12c82bd2b48406b1a1172 = L.marker(
                [46.0, 2.0],
                {}
            ).addTo(feature_group_4b90f1354ae89a64cce82bb72a9e7f9d);
        
    
            var icon_b9eb02904c8890508b732ab1208457d2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_816d410e0bb12c82bd2b48406b1a1172.setIcon(icon_b9eb02904c8890508b732ab1208457d2);
        
    
        var popup_abc5c6ecf8e5f65240410c82d748731f = L.popup({"maxWidth": "100%"});

        
            
                var html_1fa0ef62a4df6bbbdf873a0db4c4840c = $(`<div id="html_1fa0ef62a4df6bbbdf873a0db4c4840c" style="width: 100.0%; height: 100.0%;">Triglycerides: 434.23766816143495</div>`)[0];
                popup_abc5c6ecf8e5f65240410c82d748731f.setContent(html_1fa0ef62a4df6bbbdf873a0db4c4840c);
            
        

        marker_816d410e0bb12c82bd2b48406b1a1172.bindPopup(popup_abc5c6ecf8e5f65240410c82d748731f)
        ;

        
    
    
            var marker_5c99dc488ea40068b8bdf7773df35451 = L.marker(
                [38.0, -97.0],
                {}
            ).addTo(feature_group_4b90f1354ae89a64cce82bb72a9e7f9d);
        
    
            var icon_4cc3514cb2e519089ea867311ca3fa44 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_5c99dc488ea40068b8bdf7773df35451.setIcon(icon_4cc3514cb2e519089ea867311ca3fa44);
        
    
        var popup_9a5936033e279ee4ed1bf5377c045e41 = L.popup({"maxWidth": "100%"});

        
            
                var html_6f1dd45ee8bcdd36ac46e9165462cd4b = $(`<div id="html_6f1dd45ee8bcdd36ac46e9165462cd4b" style="width: 100.0%; height: 100.0%;">Triglycerides: 434.1666666666667</div>`)[0];
                popup_9a5936033e279ee4ed1bf5377c045e41.setContent(html_6f1dd45ee8bcdd36ac46e9165462cd4b);
            
        

        marker_5c99dc488ea40068b8bdf7773df35451.bindPopup(popup_9a5936033e279ee4ed1bf5377c045e41)
        ;

        
    
    
            var marker_4da5a451d85916b2eeca9172887bbf82 = L.marker(
                [16.0, 106.0],
                {}
            ).addTo(feature_group_4b90f1354ae89a64cce82bb72a9e7f9d);
        
    
            var icon_fcbeffc6586b0279ecd665b6ac612706 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_4da5a451d85916b2eeca9172887bbf82.setIcon(icon_fcbeffc6586b0279ecd665b6ac612706);
        
    
        var popup_9b4971888fd9bc8c302e180ec3ebac33 = L.popup({"maxWidth": "100%"});

        
            
                var html_dd9e77f02bcf57f2c5c4f90c80f91743 = $(`<div id="html_dd9e77f02bcf57f2c5c4f90c80f91743" style="width: 100.0%; height: 100.0%;">Triglycerides: 430.3270588235294</div>`)[0];
                popup_9b4971888fd9bc8c302e180ec3ebac33.setContent(html_dd9e77f02bcf57f2c5c4f90c80f91743);
            
        

        marker_4da5a451d85916b2eeca9172887bbf82.bindPopup(popup_9b4971888fd9bc8c302e180ec3ebac33)
        ;

        
    
    
            feature_group_4b90f1354ae89a64cce82bb72a9e7f9d.addTo(map_30ff1c9da165543176f0bffb6cc73b76);
        
    
            var feature_group_ab78a0cdd659c7155501925514e5c14d = L.featureGroup(
                {}
            );
        
    
            var marker_949e7e5a82104cb52520eef229f33c85 = L.marker(
                [38.0, -97.0],
                {}
            ).addTo(feature_group_ab78a0cdd659c7155501925514e5c14d);
        
    
            var icon_0820b88e9b51bdaf41882ecb3b51866c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_949e7e5a82104cb52520eef229f33c85.setIcon(icon_0820b88e9b51bdaf41882ecb3b51866c);
        
    
        var popup_8d318d24f5ffc96db3654c933bd1e35a = L.popup({"maxWidth": "100%"});

        
            
                var html_9cbf4004cbe83d8bd9b2a71fdc0a4412 = $(`<div id="html_9cbf4004cbe83d8bd9b2a71fdc0a4412" style="width: 100.0%; height: 100.0%;">Cholesterol: 268.85238095238094</div>`)[0];
                popup_8d318d24f5ffc96db3654c933bd1e35a.setContent(html_9cbf4004cbe83d8bd9b2a71fdc0a4412);
            
        

        marker_949e7e5a82104cb52520eef229f33c85.bindPopup(popup_8d318d24f5ffc96db3654c933bd1e35a)
        ;

        
    
    
            var marker_29f8de19332cf2c84c9c4d080968dfb1 = L.marker(
                [46.0, 2.0],
                {}
            ).addTo(feature_group_ab78a0cdd659c7155501925514e5c14d);
        
    
            var icon_cfc74a1ab291c16bd8a4cb06dac8b144 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_29f8de19332cf2c84c9c4d080968dfb1.setIcon(icon_cfc74a1ab291c16bd8a4cb06dac8b144);
        
    
        var popup_7e3fd3f73b6f7a3b387316e6be335ae7 = L.popup({"maxWidth": "100%"});

        
            
                var html_ae9e18080105b529a2717c4e5653faf5 = $(`<div id="html_ae9e18080105b529a2717c4e5653faf5" style="width: 100.0%; height: 100.0%;">Cholesterol: 264.9484304932735</div>`)[0];
                popup_7e3fd3f73b6f7a3b387316e6be335ae7.setContent(html_ae9e18080105b529a2717c4e5653faf5);
            
        

        marker_29f8de19332cf2c84c9c4d080968dfb1.bindPopup(popup_7e3fd3f73b6f7a3b387316e6be335ae7)
        ;

        
    
    
            var marker_24dfb298804b6e6f912e2587cf299854 = L.marker(
                [16.0, 106.0],
                {}
            ).addTo(feature_group_ab78a0cdd659c7155501925514e5c14d);
        
    
            var icon_e63cde2a8aeb0444e61abacf86d0e8b4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_24dfb298804b6e6f912e2587cf299854.setIcon(icon_e63cde2a8aeb0444e61abacf86d0e8b4);
        
    
        var popup_e4eddc0939be4aaef4e94d2d25a6850f = L.popup({"maxWidth": "100%"});

        
            
                var html_db26c743a6182c931f88b37be5027024 = $(`<div id="html_db26c743a6182c931f88b37be5027024" style="width: 100.0%; height: 100.0%;">Cholesterol: 264.4188235294118</div>`)[0];
                popup_e4eddc0939be4aaef4e94d2d25a6850f.setContent(html_db26c743a6182c931f88b37be5027024);
            
        

        marker_24dfb298804b6e6f912e2587cf299854.bindPopup(popup_e4eddc0939be4aaef4e94d2d25a6850f)
        ;

        
    
    
            feature_group_ab78a0cdd659c7155501925514e5c14d.addTo(map_30ff1c9da165543176f0bffb6cc73b76);
        
    
            var feature_group_fb13287dfbb667a2dbbb9c46a46b698a = L.featureGroup(
                {}
            );
        
    
            var marker_a4768977f57534131e6b933f4c82a200 = L.marker(
                [10.0, 8.0],
                {}
            ).addTo(feature_group_fb13287dfbb667a2dbbb9c46a46b698a);
        
    
            var icon_d5c3b8349956af1a85f4301d6e92af6b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_a4768977f57534131e6b933f4c82a200.setIcon(icon_d5c3b8349956af1a85f4301d6e92af6b);
        
    
        var popup_8c5af9ae955ef49c5b40b602c7de84ee = L.popup({"maxWidth": "100%"});

        
            
                var html_f067715a5d30763d19e3e659116cc832 = $(`<div id="html_f067715a5d30763d19e3e659116cc832" style="width: 100.0%; height: 100.0%;">Triglycerides: 425.3950892857143, Cholesterol: 262.20535714285717</div>`)[0];
                popup_8c5af9ae955ef49c5b40b602c7de84ee.setContent(html_f067715a5d30763d19e3e659116cc832);
            
        

        marker_a4768977f57534131e6b933f4c82a200.bindPopup(popup_8c5af9ae955ef49c5b40b602c7de84ee)
        ;

        
    
    
            var marker_fbbe9dfb33c80c4170044fc8a2ce8233 = L.marker(
                [15.0, 100.0],
                {}
            ).addTo(feature_group_fb13287dfbb667a2dbbb9c46a46b698a);
        
    
            var icon_7161bb18b5777794d54da719f6457e44 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_fbbe9dfb33c80c4170044fc8a2ce8233.setIcon(icon_7161bb18b5777794d54da719f6457e44);
        
    
        var popup_99c3c8614cf18e02b331bc338238b6ee = L.popup({"maxWidth": "100%"});

        
            
                var html_78761faa644f7bf925b279e4e278c1ad = $(`<div id="html_78761faa644f7bf925b279e4e278c1ad" style="width: 100.0%; height: 100.0%;">Triglycerides: 429.88317757009344, Cholesterol: 262.1378504672897</div>`)[0];
                popup_99c3c8614cf18e02b331bc338238b6ee.setContent(html_78761faa644f7bf925b279e4e278c1ad);
            
        

        marker_fbbe9dfb33c80c4170044fc8a2ce8233.bindPopup(popup_99c3c8614cf18e02b331bc338238b6ee)
        ;

        
    
    
            var marker_a7e225a4616e0d66e92f42185ac072e5 = L.marker(
                [35.0, 105.0],
                {}
            ).addTo(feature_group_fb13287dfbb667a2dbbb9c46a46b698a);
        
    
            var icon_6bb0efd0c19bcf2008c37d2761321e86 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_a7e225a4616e0d66e92f42185ac072e5.setIcon(icon_6bb0efd0c19bcf2008c37d2761321e86);
        
    
        var popup_f06d27dc5aa83b24741094760b03f8cf = L.popup({"maxWidth": "100%"});

        
            
                var html_f5c64e76500432fd3d53c7d8a51c992d = $(`<div id="html_f5c64e76500432fd3d53c7d8a51c992d" style="width: 100.0%; height: 100.0%;">Triglycerides: 413.32339449541286, Cholesterol: 258.0091743119266</div>`)[0];
                popup_f06d27dc5aa83b24741094760b03f8cf.setContent(html_f5c64e76500432fd3d53c7d8a51c992d);
            
        

        marker_a7e225a4616e0d66e92f42185ac072e5.bindPopup(popup_f06d27dc5aa83b24741094760b03f8cf)
        ;

        
    
    
            var marker_bd802fac537801eea95c4a2971ecc174 = L.marker(
                [51.0, 9.0],
                {}
            ).addTo(feature_group_fb13287dfbb667a2dbbb9c46a46b698a);
        
    
            var icon_9af8534afaa066af738652dc32490b60 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_bd802fac537801eea95c4a2971ecc174.setIcon(icon_9af8534afaa066af738652dc32490b60);
        
    
        var popup_4e73d4e223ffe882a0e3523f631948c4 = L.popup({"maxWidth": "100%"});

        
            
                var html_ac98f14a12a9086af7e812187f1f2f0f = $(`<div id="html_ac98f14a12a9086af7e812187f1f2f0f" style="width: 100.0%; height: 100.0%;">Triglycerides: 416.52830188679246, Cholesterol: 258.0607966457023</div>`)[0];
                popup_4e73d4e223ffe882a0e3523f631948c4.setContent(html_ac98f14a12a9086af7e812187f1f2f0f);
            
        

        marker_bd802fac537801eea95c4a2971ecc174.bindPopup(popup_4e73d4e223ffe882a0e3523f631948c4)
        ;

        
    
    
            var marker_517c3c281ba6ead5e741bfb66b3f72bc = L.marker(
                [4.0, -72.0],
                {}
            ).addTo(feature_group_fb13287dfbb667a2dbbb9c46a46b698a);
        
    
            var icon_c83524953f3b83e124c37a88ba9d07c3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_517c3c281ba6ead5e741bfb66b3f72bc.setIcon(icon_c83524953f3b83e124c37a88ba9d07c3);
        
    
        var popup_d3a0e65d8f1586a8dd352e40a84f5e62 = L.popup({"maxWidth": "100%"});

        
            
                var html_086c7198ffad6698317e59fee1b6802a = $(`<div id="html_086c7198ffad6698317e59fee1b6802a" style="width: 100.0%; height: 100.0%;">Triglycerides: 405.5221445221445, Cholesterol: 261.84615384615387</div>`)[0];
                popup_d3a0e65d8f1586a8dd352e40a84f5e62.setContent(html_086c7198ffad6698317e59fee1b6802a);
            
        

        marker_517c3c281ba6ead5e741bfb66b3f72bc.bindPopup(popup_d3a0e65d8f1586a8dd352e40a84f5e62)
        ;

        
    
    
            var marker_4363608d80876f6166d67b88bd73a800 = L.marker(
                [-10.0, -55.0],
                {}
            ).addTo(feature_group_fb13287dfbb667a2dbbb9c46a46b698a);
        
    
            var icon_036997e895fc5638b6df91dbe56870b2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_4363608d80876f6166d67b88bd73a800.setIcon(icon_036997e895fc5638b6df91dbe56870b2);
        
    
        var popup_066c974dda9d94f7dfece4201b30db09 = L.popup({"maxWidth": "100%"});

        
            
                var html_3bab8c28d948a6b0a2ab8194cd9c4eeb = $(`<div id="html_3bab8c28d948a6b0a2ab8194cd9c4eeb" style="width: 100.0%; height: 100.0%;">Triglycerides: 406.0, Cholesterol: 257.2705627705628</div>`)[0];
                popup_066c974dda9d94f7dfece4201b30db09.setContent(html_3bab8c28d948a6b0a2ab8194cd9c4eeb);
            
        

        marker_4363608d80876f6166d67b88bd73a800.bindPopup(popup_066c974dda9d94f7dfece4201b30db09)
        ;

        
    
    
            var marker_e603a028031a0d4ba7a65a4e7b2bad78 = L.marker(
                [-34.0, -64.0],
                {}
            ).addTo(feature_group_fb13287dfbb667a2dbbb9c46a46b698a);
        
    
            var icon_63932ebb9809125be3f348dd3f6e6495 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_e603a028031a0d4ba7a65a4e7b2bad78.setIcon(icon_63932ebb9809125be3f348dd3f6e6495);
        
    
        var popup_2ae9795cd3c458185308d5a6d9c9044f = L.popup({"maxWidth": "100%"});

        
            
                var html_617597101d97f72c7f7b8730295b2dd5 = $(`<div id="html_617597101d97f72c7f7b8730295b2dd5" style="width: 100.0%; height: 100.0%;">Triglycerides: 419.7855626326964, Cholesterol: 261.52016985138005</div>`)[0];
                popup_2ae9795cd3c458185308d5a6d9c9044f.setContent(html_617597101d97f72c7f7b8730295b2dd5);
            
        

        marker_e603a028031a0d4ba7a65a4e7b2bad78.bindPopup(popup_2ae9795cd3c458185308d5a6d9c9044f)
        ;

        
    
    
            var marker_b5a8b6d9450b4cc86006777a3444db8b = L.marker(
                [-27.0, 133.0],
                {}
            ).addTo(feature_group_fb13287dfbb667a2dbbb9c46a46b698a);
        
    
            var icon_421bc6ac6a8ec8aba4ef4cef46366ee4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_b5a8b6d9450b4cc86006777a3444db8b.setIcon(icon_421bc6ac6a8ec8aba4ef4cef46366ee4);
        
    
        var popup_30e17fbe3f74725bd16332f85baf25f0 = L.popup({"maxWidth": "100%"});

        
            
                var html_982e4d3aa73c7ab0956ff439d9bffb4a = $(`<div id="html_982e4d3aa73c7ab0956ff439d9bffb4a" style="width: 100.0%; height: 100.0%;">Triglycerides: 419.87973273942094, Cholesterol: 258.9977728285078</div>`)[0];
                popup_30e17fbe3f74725bd16332f85baf25f0.setContent(html_982e4d3aa73c7ab0956ff439d9bffb4a);
            
        

        marker_b5a8b6d9450b4cc86006777a3444db8b.bindPopup(popup_30e17fbe3f74725bd16332f85baf25f0)
        ;

        
    
    
            var marker_7571ac7cb708d814cbd02ccb73c0cd6d = L.marker(
                [16.0, 106.0],
                {}
            ).addTo(feature_group_fb13287dfbb667a2dbbb9c46a46b698a);
        
    
            var icon_e458bed9b3380ad18727eb612dda151b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_7571ac7cb708d814cbd02ccb73c0cd6d.setIcon(icon_e458bed9b3380ad18727eb612dda151b);
        
    
        var popup_8823dac466d252a54c0e7c591454356a = L.popup({"maxWidth": "100%"});

        
            
                var html_f184a80eef1c3c05b324326670266d0b = $(`<div id="html_f184a80eef1c3c05b324326670266d0b" style="width: 100.0%; height: 100.0%;">Triglycerides: 430.3270588235294, Cholesterol: 264.4188235294118</div>`)[0];
                popup_8823dac466d252a54c0e7c591454356a.setContent(html_f184a80eef1c3c05b324326670266d0b);
            
        

        marker_7571ac7cb708d814cbd02ccb73c0cd6d.bindPopup(popup_8823dac466d252a54c0e7c591454356a)
        ;

        
    
    
            var marker_2ad706abb6be68017813feb67088be90 = L.marker(
                [54.0, -2.0],
                {}
            ).addTo(feature_group_fb13287dfbb667a2dbbb9c46a46b698a);
        
    
            var icon_fa0489740dc9001a1bea8835b6a3528b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_2ad706abb6be68017813feb67088be90.setIcon(icon_fa0489740dc9001a1bea8835b6a3528b);
        
    
        var popup_6dfa36f45c03b9d22f539bf0c6fb5c00 = L.popup({"maxWidth": "100%"});

        
            
                var html_648a8b7f2c649685131cc1384de9fa90 = $(`<div id="html_648a8b7f2c649685131cc1384de9fa90" style="width: 100.0%; height: 100.0%;">Triglycerides: 419.6017505470459, Cholesterol: 259.8336980306346</div>`)[0];
                popup_6dfa36f45c03b9d22f539bf0c6fb5c00.setContent(html_648a8b7f2c649685131cc1384de9fa90);
            
        

        marker_2ad706abb6be68017813feb67088be90.bindPopup(popup_6dfa36f45c03b9d22f539bf0c6fb5c00)
        ;

        
    
    
            var marker_1710de23ef40d88ed60bfe91c1d26d20 = L.marker(
                [40.0, -4.0],
                {}
            ).addTo(feature_group_fb13287dfbb667a2dbbb9c46a46b698a);
        
    
            var icon_1fe88a923a461d99ab0a0bb0ad8af968 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_1710de23ef40d88ed60bfe91c1d26d20.setIcon(icon_1fe88a923a461d99ab0a0bb0ad8af968);
        
    
        var popup_803b922a37b8c33043eea0c2ecd140cc = L.popup({"maxWidth": "100%"});

        
            
                var html_9aaca6cd4a1b95bb092490a3d9a1875b = $(`<div id="html_9aaca6cd4a1b95bb092490a3d9a1875b" style="width: 100.0%; height: 100.0%;">Triglycerides: 409.66511627906976, Cholesterol: 258.8558139534884</div>`)[0];
                popup_803b922a37b8c33043eea0c2ecd140cc.setContent(html_9aaca6cd4a1b95bb092490a3d9a1875b);
            
        

        marker_1710de23ef40d88ed60bfe91c1d26d20.bindPopup(popup_803b922a37b8c33043eea0c2ecd140cc)
        ;

        
    
    
            var marker_ee25b0864ed7b4352cab278eae75d764 = L.marker(
                [20.0, 77.0],
                {}
            ).addTo(feature_group_fb13287dfbb667a2dbbb9c46a46b698a);
        
    
            var icon_9ca71f6fb9fb70f640a04a60ee87a7cc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_ee25b0864ed7b4352cab278eae75d764.setIcon(icon_9ca71f6fb9fb70f640a04a60ee87a7cc);
        
    
        var popup_93a160f7ef809eee17a69857c458cbf5 = L.popup({"maxWidth": "100%"});

        
            
                var html_d57839320766091636a5bbfc170e6a08 = $(`<div id="html_d57839320766091636a5bbfc170e6a08" style="width: 100.0%; height: 100.0%;">Triglycerides: 396.5194174757282, Cholesterol: 256.08009708737865</div>`)[0];
                popup_93a160f7ef809eee17a69857c458cbf5.setContent(html_d57839320766091636a5bbfc170e6a08);
            
        

        marker_ee25b0864ed7b4352cab278eae75d764.bindPopup(popup_93a160f7ef809eee17a69857c458cbf5)
        ;

        
    
    
            var marker_50cbe4d12bafbc9c77e12192239d88d0 = L.marker(
                [60.0, -95.0],
                {}
            ).addTo(feature_group_fb13287dfbb667a2dbbb9c46a46b698a);
        
    
            var icon_a8efac2337f2480518f29b87098ea77f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_50cbe4d12bafbc9c77e12192239d88d0.setIcon(icon_a8efac2337f2480518f29b87098ea77f);
        
    
        var popup_a9a370fd40978b97cc0c58b13ed6dca8 = L.popup({"maxWidth": "100%"});

        
            
                var html_6dfe8707a090481619cf5217f48e4320 = $(`<div id="html_6dfe8707a090481619cf5217f48e4320" style="width: 100.0%; height: 100.0%;">Triglycerides: 406.05227272727274, Cholesterol: 256.8477272727273</div>`)[0];
                popup_a9a370fd40978b97cc0c58b13ed6dca8.setContent(html_6dfe8707a090481619cf5217f48e4320);
            
        

        marker_50cbe4d12bafbc9c77e12192239d88d0.bindPopup(popup_a9a370fd40978b97cc0c58b13ed6dca8)
        ;

        
    
    
            var marker_6a9f4a79cd81bac7392fb8717ab2ca11 = L.marker(
                [46.0, 2.0],
                {}
            ).addTo(feature_group_fb13287dfbb667a2dbbb9c46a46b698a);
        
    
            var icon_93e3b7792d5692354a40703dfdadc673 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_6a9f4a79cd81bac7392fb8717ab2ca11.setIcon(icon_93e3b7792d5692354a40703dfdadc673);
        
    
        var popup_bf89573b216de0b3c8d32c32bc220c04 = L.popup({"maxWidth": "100%"});

        
            
                var html_571a191c207214e9a9374047be276259 = $(`<div id="html_571a191c207214e9a9374047be276259" style="width: 100.0%; height: 100.0%;">Triglycerides: 434.23766816143495, Cholesterol: 264.9484304932735</div>`)[0];
                popup_bf89573b216de0b3c8d32c32bc220c04.setContent(html_571a191c207214e9a9374047be276259);
            
        

        marker_6a9f4a79cd81bac7392fb8717ab2ca11.bindPopup(popup_bf89573b216de0b3c8d32c32bc220c04)
        ;

        
    
    
            var marker_8f7a9f900036073f610fa13ba20ab766 = L.marker(
                [-29.0, 24.0],
                {}
            ).addTo(feature_group_fb13287dfbb667a2dbbb9c46a46b698a);
        
    
            var icon_6fe30884bf9b5db722b1499a7501e137 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_8f7a9f900036073f610fa13ba20ab766.setIcon(icon_6fe30884bf9b5db722b1499a7501e137);
        
    
        var popup_f2644535632c214ec7737360d8fd3095 = L.popup({"maxWidth": "100%"});

        
            
                var html_321b5e97666e6047519725222d004db9 = $(`<div id="html_321b5e97666e6047519725222d004db9" style="width: 100.0%; height: 100.0%;">Triglycerides: 417.2917647058824, Cholesterol: 253.22588235294117</div>`)[0];
                popup_f2644535632c214ec7737360d8fd3095.setContent(html_321b5e97666e6047519725222d004db9);
            
        

        marker_8f7a9f900036073f610fa13ba20ab766.bindPopup(popup_f2644535632c214ec7737360d8fd3095)
        ;

        
    
    
            var marker_b5cfa59aa1d6385223804add80a0454c = L.marker(
                [42.8333, 12.8333],
                {}
            ).addTo(feature_group_fb13287dfbb667a2dbbb9c46a46b698a);
        
    
            var icon_007c3ca9606efbd4e7adf95ea3f0fbe6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_b5cfa59aa1d6385223804add80a0454c.setIcon(icon_007c3ca9606efbd4e7adf95ea3f0fbe6);
        
    
        var popup_91ea270080f5a3227442e3c69db04e1d = L.popup({"maxWidth": "100%"});

        
            
                var html_4922666b57715a00009307ede978948c = $(`<div id="html_4922666b57715a00009307ede978948c" style="width: 100.0%; height: 100.0%;">Triglycerides: 414.02088167053364, Cholesterol: 260.6658932714617</div>`)[0];
                popup_91ea270080f5a3227442e3c69db04e1d.setContent(html_4922666b57715a00009307ede978948c);
            
        

        marker_b5cfa59aa1d6385223804add80a0454c.bindPopup(popup_91ea270080f5a3227442e3c69db04e1d)
        ;

        
    
    
            var marker_f90da4d96383a2a98c0cc80ecc359a89 = L.marker(
                [37.0, 127.5],
                {}
            ).addTo(feature_group_fb13287dfbb667a2dbbb9c46a46b698a);
        
    
            var icon_a7f929d1a3d53a46cf1b372b730a8642 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_f90da4d96383a2a98c0cc80ecc359a89.setIcon(icon_a7f929d1a3d53a46cf1b372b730a8642);
        
    
        var popup_dca82849eaf1a5c1abf4eb9b98baa816 = L.popup({"maxWidth": "100%"});

        
            
                var html_e379d9f8aae1425eb56fb8293341605f = $(`<div id="html_e379d9f8aae1425eb56fb8293341605f" style="width: 100.0%; height: 100.0%;">Triglycerides: 420.09290953545235, Cholesterol: 259.6454767726161</div>`)[0];
                popup_dca82849eaf1a5c1abf4eb9b98baa816.setContent(html_e379d9f8aae1425eb56fb8293341605f);
            
        

        marker_f90da4d96383a2a98c0cc80ecc359a89.bindPopup(popup_dca82849eaf1a5c1abf4eb9b98baa816)
        ;

        
    
    
            var marker_9684b38c26163e7003bf52debb08e247 = L.marker(
                [36.0, 138.0],
                {}
            ).addTo(feature_group_fb13287dfbb667a2dbbb9c46a46b698a);
        
    
            var icon_6f78b4760b4008d0575ae2f3be86e316 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_9684b38c26163e7003bf52debb08e247.setIcon(icon_6f78b4760b4008d0575ae2f3be86e316);
        
    
        var popup_ed77b8c7820b61fb37a6bae1021b5be3 = L.popup({"maxWidth": "100%"});

        
            
                var html_6c69cd8fed4d5ec1931a1ddfc34bbaca = $(`<div id="html_6c69cd8fed4d5ec1931a1ddfc34bbaca" style="width: 100.0%; height: 100.0%;">Triglycerides: 426.0323325635104, Cholesterol: 260.96535796766744</div>`)[0];
                popup_ed77b8c7820b61fb37a6bae1021b5be3.setContent(html_6c69cd8fed4d5ec1931a1ddfc34bbaca);
            
        

        marker_9684b38c26163e7003bf52debb08e247.bindPopup(popup_ed77b8c7820b61fb37a6bae1021b5be3)
        ;

        
    
    
            var marker_6065e1796905af06191131dc3bb2e112 = L.marker(
                [38.0, -97.0],
                {}
            ).addTo(feature_group_fb13287dfbb667a2dbbb9c46a46b698a);
        
    
            var icon_36ce916705c77cafabd4094f9b202f6b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_6065e1796905af06191131dc3bb2e112.setIcon(icon_36ce916705c77cafabd4094f9b202f6b);
        
    
        var popup_68d7a48b698fd48911011a11e3e02b5d = L.popup({"maxWidth": "100%"});

        
            
                var html_c3fbd92869848598c46665c6a870f00f = $(`<div id="html_c3fbd92869848598c46665c6a870f00f" style="width: 100.0%; height: 100.0%;">Triglycerides: 434.1666666666667, Cholesterol: 268.85238095238094</div>`)[0];
                popup_68d7a48b698fd48911011a11e3e02b5d.setContent(html_c3fbd92869848598c46665c6a870f00f);
            
        

        marker_6065e1796905af06191131dc3bb2e112.bindPopup(popup_68d7a48b698fd48911011a11e3e02b5d)
        ;

        
    
    
            var marker_46cc5df1c0e0e3c5bd9499d603c775d1 = L.marker(
                [-41.0, 174.0],
                {}
            ).addTo(feature_group_fb13287dfbb667a2dbbb9c46a46b698a);
        
    
            var icon_fb0efadf82c407295e26467e8630afda = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_46cc5df1c0e0e3c5bd9499d603c775d1.setIcon(icon_fb0efadf82c407295e26467e8630afda);
        
    
        var popup_fd484f5550e5fa70acc18c81cd5a3b27 = L.popup({"maxWidth": "100%"});

        
            
                var html_fdff16c9d7f3f8af71fb59ef2843709e = $(`<div id="html_fdff16c9d7f3f8af71fb59ef2843709e" style="width: 100.0%; height: 100.0%;">Triglycerides: 409.0206896551724, Cholesterol: 253.34022988505748</div>`)[0];
                popup_fd484f5550e5fa70acc18c81cd5a3b27.setContent(html_fdff16c9d7f3f8af71fb59ef2843709e);
            
        

        marker_46cc5df1c0e0e3c5bd9499d603c775d1.bindPopup(popup_fd484f5550e5fa70acc18c81cd5a3b27)
        ;

        
    
    
            feature_group_fb13287dfbb667a2dbbb9c46a46b698a.addTo(map_30ff1c9da165543176f0bffb6cc73b76);
        
    
            var layer_control_e598f063a0b0f2fb442a58b9136f1ff8_layers = {
                base_layers : {
                    "openstreetmap" : tile_layer_ed184a4ec0ebe972e89122ceae6631a0,
                },
                overlays :  {
                    "Top 3 Triglycerides" : feature_group_4b90f1354ae89a64cce82bb72a9e7f9d,
                    "Top 3 Cholesterol" : feature_group_ab78a0cdd659c7155501925514e5c14d,
                    "All Countries" : feature_group_fb13287dfbb667a2dbbb9c46a46b698a,
                },
            };
            let layer_control_e598f063a0b0f2fb442a58b9136f1ff8 = L.control.layers(
                layer_control_e598f063a0b0f2fb442a58b9136f1ff8_layers.base_layers,
                layer_control_e598f063a0b0f2fb442a58b9136f1ff8_layers.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_30ff1c9da165543176f0bffb6cc73b76);

        
</script>
</html>